<a href="https://colab.research.google.com/github/AimjGuytidy/Financial_engineering/blob/main/ML_devops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# !pip install --upgrade google-cloud-bigquery

Requirement already satisfied: google-cloud-bigquery in /usr/local/lib/python3.7/dist-packages (1.21.0)
Collecting google-cloud-bigquery
  Downloading google_cloud_bigquery-2.26.0-py2.py3-none-any.whl (201 kB)
     |████████████████████████████████| 201 kB 28.5 MB/s
Requirement already satisfied: grpcio<2.0dev,>=1.38.1 in /usr/local/lib/python3.7/dist-packages (from google-cloud-bigquery) (1.40.0)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-bigquery) (2.23.0)
Collecting proto-plus>=1.10.0
  Downloading proto_plus-1.19.0-py3-none-any.whl (42 kB)
     |████████████████████████████████| 42 kB 1.5 MB/s
Collecting google-resumable-media<3.0dev,>=0.6.0
  Downloading google_resumable_media-2.0.3-py2.py3-none-any.whl (75 kB)
     |████████████████████████████████| 75 kB 4.3 MB/s
Collecting google-cloud-core<3.0.0dev,>=1.4.1
  Downloading google_cloud_core-2.0.0-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: protobuf>=3.12.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-bigquery) (3.17.3)
Collecting google-api-core[grpc]<3.0.0dev,>=1.29.0
  Downloading google_api_core-2.0.1-py2.py3-none-any.whl (92 kB)
     |████████████████████████████████| 92 kB 460 kB/s
Requirement already satisfied: packaging>=14.3 in /usr/local/lib/python3.7/dist-packages (from google-cloud-bigquery) (21.0)
Requirement already satisfied: google-auth<3.0dev,>=1.25.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core[grpc]<3.0.0dev,>=1.29.0->google-cloud-bigquery) (1.35.0)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core[grpc]<3.0.0dev,>=1.29.0->google-cloud-bigquery) (1.53.0)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core[grpc]<3.0.0dev,>=1.29.0->google-cloud-bigquery) (57.4.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3.0dev,>=1.25.0->google-api-core[grpc]<3.0.0dev,>=1.29.0->google-cloud-bigquery) (4.7.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3.0dev,>=1.25.0->google-api-core[grpc]<3.0.0dev,>=1.29.0->google-cloud-bigquery) (0.2.8)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3.0dev,>=1.25.0->google-api-core[grpc]<3.0.0dev,>=1.29.0->google-cloud-bigquery) (1.15.0)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3.0dev,>=1.25.0->google-api-core[grpc]<3.0.0dev,>=1.29.0->google-cloud-bigquery) (4.2.2)
Collecting google-crc32c<2.0dev,>=1.0
  Downloading google_crc32c-1.2.0-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (38 kB)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=14.3->google-cloud-bigquery) (2.4.7)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3.0dev,>=1.25.0->google-api-core[grpc]<3.0.0dev,>=1.29.0->google-cloud-bigquery) (0.4.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery) (2021.5.30)
Installing collected packages: google-crc32c, google-api-core, proto-plus, google-resumable-media, google-cloud-core, google-cloud-bigquery
  Attempting uninstall: google-api-core
    Found existing installation: google-api-core 1.26.3
    Uninstalling google-api-core-1.26.3:
      Successfully uninstalled google-api-core-1.26.3
  Attempting uninstall: google-resumable-media
    Found existing installation: google-resumable-media 0.4.1
    Uninstalling google-resumable-media-0.4.1:
      Successfully uninstalled google-resumable-media-0.4.1
  Attempting uninstall: google-cloud-core
    Found existing installation: google-cloud-core 1.0.3
    Uninstalling google-cloud-core-1.0.3:
      Successfully uninstalled google-cloud-core-1.0.3
  Attempting uninstall: google-cloud-bigquery
    Found existing installation: google-cloud-bigquery 1.21.0
    Uninstalling google-cloud-bigquery-1.21.0:
      Successfully uninstalled google-cloud-bigquery-1.21.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
pandas-gbq 0.13.3 requires google-cloud-bigquery[bqstorage,pandas]<2.0.0dev,>=1.11.1, but you have google-cloud-bigquery 2.26.0 which is incompatible.
google-cloud-translate 1.5.0 requires google-api-core[grpc]<2.0.0dev,>=1.6.0, but you have google-api-core 2.0.1 which is incompatible.
google-cloud-translate 1.5.0 requires google-cloud-core<2.0dev,>=1.0.0, but you have google-cloud-core 2.0.0 which is incompatible.
google-cloud-storage 1.18.1 requires google-cloud-core<2.0dev,>=1.0.0, but you have google-cloud-core 2.0.0 which is incompatible.
google-cloud-storage 1.18.1 requires google-resumable-media<0.5.0dev,>=0.3.1, but you have google-resumable-media 2.0.3 which is incompatible.
google-cloud-language 1.2.0 requires google-api-core[grpc]<2.0.0dev,>=1.6.0, but you have google-api-core 2.0.1 which is incompatible.
google-cloud-firestore 1.7.0 requires google-api-core[grpc]<2.0.0dev,>=1.14.0, but you have google-api-core 2.0.1 which is incompatible.
google-cloud-firestore 1.7.0 requires google-cloud-core<2.0dev,>=1.0.3, but you have google-cloud-core 2.0.0 which is incompatible.
google-cloud-datastore 1.8.0 requires google-api-core[grpc]<2.0.0dev,>=1.6.0, but you have google-api-core 2.0.1 which is incompatible.
google-cloud-datastore 1.8.0 requires google-cloud-core<2.0dev,>=1.0.0, but you have google-cloud-core 2.0.0 which is incompatible.
google-cloud-bigquery-storage 1.1.0 requires google-api-core[grpc]<2.0.0dev,>=1.14.0, but you have google-api-core 2.0.1 which is incompatible.
google-api-python-client 1.12.8 requires google-api-core<2dev,>=1.21.0, but you have google-api-core 2.0.1 which is incompatible.
firebase-admin 4.4.0 requires google-api-core[grpc]<2.0.0dev,>=1.14.0; platform_python_implementation != "PyPy", but you have google-api-core 2.0.1 which is incompatible.
Successfully installed google-api-core-2.0.1 google-cloud-bigquery-2.26.0 google-cloud-core-2.0.0 google-crc32c-1.2.0 google-resumable-media-2.0.3 proto-plus-1.19.0

In [ ]:
# !set GOOGLE_APPLICATION_CREDENTIALS="C:\Users\user\Downloads\parfait-326913-0cd36d73431d.json"

In [ ]:
# !pip install --upgrade 'google-cloud-bigquery[bqstorage,pandas]'

In [ ]:
%load_ext google.cloud.bigquery

In [ ]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [ ]:
%%bigquery df --project parfait-326913 
SELECT
  mother_age,
  COUNT(1) AS num_babies,
  AVG(weight_pounds) AS avg_wt
FROM
  publicdata.samples.natality
WHERE
  year > 2000
GROUP BY mother_age
ORDER BY mother_age

Query complete after 0.01s: 100%|██████████| 3/3 [00:00<00:00, 1118.38query/s]
Downloading: 100%|██████████| 45/45 [00:00<00:00, 180.99rows/s]

In [ ]:
df.head()

   mother_age  num_babies    avg_wt
0          10           3  7.533195
1          11          44  6.149945
2          12        1196  6.506330
3          13        7552  6.656063
4          14       44868  6.743684

In [ ]:
%%bigquery air --project parfait-326913 
SELECT 
  DISTINCT(departure_airport)
FROM bigquery-samples.airline_ontime_data.flights

Query complete after 0.01s: 100%|██████████| 2/2 [00:00<00:00, 515.11query/s]
Downloading: 100%|██████████| 347/347 [00:00<00:00, 1558.79rows/s]

In [ ]:
air.head()

  departure_airport
0               SNA
1               IAD
2               ORD
3               DTW
4               KOA

In [ ]:
import tensorflow as tf

In [ ]:
num_buckets = 1000
tf.feature_column.categorical_column_with_hash_bucket(air['departure_airport'][4],num_buckets,dtype=tf.dtypes.string)

HashedCategoricalColumn(key='KOA', hash_bucket_size=1000, dtype=tf.string)

In [ ]:
keywords = tf.feature_column.categorical_column_with_hash_bucket("keywords",
10000)
columns = [keywords]
features = {'keywords': tf.constant([['Tensorflow', 'Keras', 'RNN', 'LSTM',
'CNN'], ['LSTM', 'CNN', 'Tensorflow', 'Keras', 'RNN'], ['CNN', 'Tensorflow',
'LSTM', 'Keras', 'RNN']])}

In [ ]:
columns

[HashedCategoricalColumn(key='keywords', hash_bucket_size=10000, dtype=tf.string)]

In [ ]:
linear_prediction, _, _ = tf.compat.v1.feature_column.linear_model(features,
columns)

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorflow/python/feature_column/feature_column.py:553: HashedCategoricalColumn._num_buckets (from tensorflow.python.feature_column.feature_column_v2) is deprecated and will be removed in a future version.
Instructions for updating:
The old _FeatureColumn APIs are being deprecated. Please use the new FeatureColumn APIs instead.
WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorflow/python/feature_column/feature_column.py:2074: HashedCategoricalColumn._get_sparse_tensors (from tensorflow.python.feature_column.feature_column_v2) is deprecated and will be removed in a future version.
Instructions for updating:
The old _FeatureColumn APIs are being deprecated. Please use the new FeatureColumn APIs instead.
WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorflow/python/feature_column/feature_column.py:2192: HashedCategoricalColumn._transform_feature (from tensorflow.python.feature_column.feature_column_v2) is deprecated and will be removed in a future version.
Instructions for updating:
The old _FeatureColumn APIs are being deprecated. Please use the new FeatureColumn APIs instead.

/usr/local/lib/python3.7/dist-packages/tensorflow/python/keras/engine/base_layer.py:2233: UserWarning: `layer.add_variable` is deprecated and will be removed in a future version. Please use `layer.add_weight` method instead.
  warnings.warn('`layer.add_variable` is deprecated and '

In [ ]:
linear_prediction

In [ ]:
%%bigquery hashy --project parfait-326913
CREATE TEMPORARY FUNCTION hashed(airports STRING, numbuckets INT64) AS ( 
  ABS(MOD(FARM_FINGERPRINT(airports),numbuckets))
  );

WITH airports AS (
  SELECT 
  DISTINCT(departure_airport)
FROM bigquery-samples.airline_ontime_data.flights
)
SELECT 
  *,
  hashed(departure_airport,3) AS hash3,
  hashed(departure_airport,10) AS hash10,
  hashed(departure_airport,1000) AS hash1000
FROM airports

Query complete after 0.01s: 100%|██████████| 2/2 [00:00<00:00, 439.82query/s]
Downloading: 100%|██████████| 347/347 [00:00<00:00, 1450.88rows/s]

In [ ]:
hashy.head()

  departure_airport  hash3  hash10  hash1000
0               OAK      0       7       487
1               ITO      2       6       126
2               IND      2       2       692
3               ELP      2       3       193
4               GUC      0       2       942

In [ ]:
%%bigquery hasha --project parfait-326913
CREATE TEMPORARY FUNCTION hashed(airports STRING, numbuckets INT64) AS(
  ABS(MOD(FARM_FINGERPRINT(airports),numbuckets))
);
WITH airports AS (
  SELECT
    departure_airport,COUNT(1) AS num_flights
  FROM bigquery-samples.airline_ontime_data.flights
  GROUP BY departure_airport
)
SELECT
  departure_airport,num_flights
FROM airports
WHERE hashed(departure_airport,100) = hashed('ORD',100)

Query complete after 0.00s: 100%|██████████| 2/2 [00:00<00:00, 626.67query/s]
Downloading: 100%|██████████| 3/3 [00:00<00:00, 12.23rows/s]

In [ ]:
hasha

  departure_airport  num_flights
0               ORD      3610491
1               MCI       597761
2               BTV        66555

page 79